# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo

# --------------------
# Virtual Environment
# --------------------
.venv/
venv/
env/
ENV/

# --------------------
# Environment variables
# --------------------
.env
.env.example

# --------------------
# OS / Editor
# --------------------
.DS_Store
.vscode/
.idea/

# --------------------
# Logs / temp
# --------------------
*.log
/tmp/
